body{
    margin:0;
}
/*style-change start */
.style-change{
    z-index: 1111;
    width: 100%;
    background: rgba(102, 102, 102, 0.8);
    top:0;
    height: 21px;
}
.scul{
    list-style: none;
    margin: 0;
}
.sclist{
    width: 25%;
    text-align: center;
    float: left;
    font-size:14px;
}
.sclist a{
    text-decoration: none;
}
.style-change::after{
    clear: both;
}

/* style-change end */
.head{
    position: relative;
    width: 100%;
    border-bottom:solid black;
    display: block;
    text-align: left;
    height: 80px;
}
.title{
    vertical-align: bottom;
    position: absolute;
    text-align: center;
    font-size: 60px;
    height: 100%;
}
.menu{
    position: absolute;
    top:0;
    width: 100px;
    height: 100%;
    right: 1px;
}
.split span{
    display: block;
    height: 8px;
    margin: 13px 0px;
    background: blue;
}
.split{
    width: 60px;
    margin:0px 20px
}