body{
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    color: #eee;
    margin:0;
    -webkit-text-size-adjust: 100%;
    background: url(../img/folk-pattern-black.png);
}
/*style-change start */
.style-change{
    z-index: 1111;
    width: 100%;
    background: rgba(102, 102, 102, 0.8);
    top:0;
    height: 21px;
}
.scul{
    list-style: none;
    margin: 0;
}
.sclist{
    width: 25%;
    text-align: center;
    float: left;
    font-size:14px;
}
.sclist a{
    text-decoration: none;
}
.style-change::after{
    clear: both;
}

/* style-change end */

header{
    position: sticky;
    position: -webkit-sticky;
    top:0;
}
.head{
    position: relative;
    width: 100%;
    border-bottom:1px solid gray;
    display: block;
    text-align: left;
    height: 100px;
    background: rgba(0, 0, 0, 0.8);
}
.title{
    position: absolute;
    text-align: center;
    right:0px;
    bottom:4px;
    left:0px;
    margin:auto auto;
    font-size: 50px;
    color: white;
    font-weight: lighter;
}
.menu{
    position: absolute;
    top:0;
    width: 120px;
    height: 100%;
    right: 2px;
}
.split span{
    display: block;
    height: 8px;
    margin: 18px 0;
    background: gray;
}
.split{
    width: 80px;
    margin:0px 20px;
}
.item{
    font-size: 80px;
    text-align: center;
    /* border-bottom:1px solid gray; */
    width:70%;
    margin:auto;
    padding-top:120px;
    height: 100px;
}
.subprofile{
    font-size: 130px;
    margin:30px 0;
}
.subprofile span{
    display: block;
    text-align: center;
}
.pad{
    padding-left: 10%;
}
.preamble p{
    text-align:center;
    font-weight: bolder;
    font-size:55px;
    margin:37px 40px;
    margin-bottom:120px;
}
.preamble p span{
    color: white;
    margin:20px;
    display:inherit;
}
.name{
    display: block;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.profileimg{
   text-align: center;
   margin-top: 50px;
}
.prowrap{
    background-color: rgba(0, 0, 0, 0.3);
}
.gametext{
    text-align: center;
    font-size:55px;
}
.gamegallary{
    display: block;
    height: 100%;
    width: 720px;
    margin:auto;
    overflow-x: auto;
}
.gamegallary ul{
    white-space: nowrap;
    list-style: none;
    padding: 0;
}
.gamegallary ul li{
    display:inline;
    margin: 10px;
}
.gamegallary ul li img{
border:7px rgba(255, 255, 255, 0.5) solid;
border-radius: 20px/20px;
}
.gametext h3{
    margin-top:100px;
}
.gametext a{
    margin :auto;
    display: block;
    text-decoration: none;
    width: 50%;
    font-size: 50px;
    padding-right: 40px;
    padding-bottom: 120px;
}
a:visited{
    color:white;
}
.wrapback{
    background:rgba(255, 255, 255, 0.08);
    top:30px;
}
.programming{
    text-align: center;
    font-size: 50px;
    margin:  120px auto;
}
.contact h3{
    font-size: 70px;
    font-weight: bolder;
    margin:0;
}
.contact{
    text-align: center;
}
.discord{
    margin:90px auto;
    background-color:rgba(27, 26, 68, 0.5);
    border-top:1px rgba(0, 0, 0, 0.5) solid;
    border-bottom:1px rgba(0, 0, 0, 0.5) solid;
}
.contact span{
    font-size: 40px;
}
.twitter{
    margin:90px auto;
    background-color:rgba(21, 91, 119, 0.5);
    border-top:1px rgba(0, 0, 0, 0.5) solid;
    border-bottom:1px rgba(0, 0, 0, 0.5) solid;
}

.youtube{
    margin:90px auto;
    background-color:rgba(122, 17, 17, 0.5);
    border-top:1px rgba(0, 0, 0, 0.5) solid;
    border-bottom:1px rgba(0, 0, 0, 0.5) solid;
}

footer{
    border-top:1px rgba(255, 255, 255, 0.5) solid;
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 30px;
    background-color: black;
    text-align: center;
}
footer p{
    bottom: 0;
    margin:0;
}
.wrapbacks{
    padding-bottom:1px;
}