body{
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    background: url(../img/folk-pattern-black.png) ;
    height: 100%;
    margin:0;
    display: block;

    /* スマホの文字サイズ自動調節オフ */
    -webkit-text-size-adjust: none;
}
.wrap{
    width: 980px;
    margin:40px auto;
    background-color: wheat;
    border:solid 4px white;
}

header{
    color : #ffffff;
    height: 190px;
    
}
.headback{
    background-image: url(../img/harappa.jpg);
    background-size:cover;
    position: relative;
    height: 100%;
}
.headback::before{
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}


.container{
    color: white;
    position: absolute;
    width: 820px;
    margin:0 80px;
    text-shadow: 0 0 20px rgb(0, 0, 0);
}


a.btn{
    width: 250px;
    color:midnightblue;
    text-align: center;
    text-decoration: none;
    display: table;
    border-collapse: separate;
    border-spacing: 10px 0;
    table-layout:fixed;
   width: 100%;
   font-size: 19px;
   text-shadow:0 0 4px rgba(0,0,0,0.8);
    margin:auto 3px;
    position: relative;
}
.btn::after {
    position: absolute;
    bottom: -13px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: midnightblue;
    transform: scale(0, 0);
    transform-origin: left top;
    transition: transform .4s;
  }
  .btn:hover::after {
    transform: scale(1, 1);
  }
/* a.btn.animated:hover{
    animation:pulse 1s;
    text-shadow: 0px 0px 20px black;
    
} */
.pad{
    padding-top:65px;
    border-bottom: 1px solid #eee;
    width: 60%;
    margin:auto 20%;
}
nav{
    padding-right: 34px;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    padding: 3px 0;
    background:  rgba(255, 255, 255, 0.7);
    z-index: 9999;
    width: 100%;
}
.menu{
    display: -webkit-flex;
    display: flex;
    list-style-type:none;
    margin:10px auto;
    padding:0;
}
.mainstr{
    background-color:white;
    box-shadow: 0 0 10px rgb(151, 151, 151);
    width:85%;
    margin: auto;
    text-align: center;
    padding-bottom: 100px;
}
.prof{
    margin:30px;
}

footer{
    text-align: center;
    font-size:22px;
}

.lis li{
    display: inline-block;
    list-style-type:none;
    text-align:left;
    width: 25%;
    table-layout:fixed;
    padding:auto 30px;
    vertical-align: top;
}
.lis{
    padding: 0%;
    margin:10px;
}
.clearfix{
    overflow: hidden;
}
.gameimg{
    background:url(../img/gravel.png);
    margin: 10px 60px;
    overflow: hidden;
    min-width: 525px;
    border: solid 2px white;
    border-radius: 2%;
}

.fusen{
    background:url(../img/tape-s08.png);
    position: absolute;
    width:40%;
    height:30%;
    top:-25px;
    left:50px;
    z-index:10;
    background-repeat: none;
}

.gameimg img{
    width: 100%;
    height: auto;
    cursor: pointer;
    display: block;
    position: relative;
    alt:"画像";
}

.gameimg ul{
    padding:0;
    margin:auto 40px;
    height: auto;
    position: relative;
    min-height: 1px;
    padding:40px 0;
}

.gameimg li{
    margin:15px;
    float: left;
    list-style: none;
    width: 27%;
    height: auto;
    border: 4px solid white;
    border-radius: 6px;
    position: relative;
    box-shadow: 4px 4px 8px -2px rgb(15, 15, 15),
    4px 4px 10px rgba(255, 255, 255, 0.7) inset;
}

.animated.img:hover{
    animation:pulse 0.5s;
}

/* @media screen and (max-width:600px){
    .lisimg img{
        width: 192px;
        height: 108px;
    }
} */




/*@media指定
 all	指定できるメディアのすべて
aural	音声出力
braille	点字ディスプレイなどの点字出力
embossed	点字プリンタ
handheld	携帯用機器
print	プリンタ（印刷用）
projection	プロジェクタ
screen	パソコン画面
tty	文字幅が固定された機器
tv	テレビ */