body{
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    background : wheat;
    height: 100%;
    margin:0;
    
}


header{
    width: 100%;
    color : #ffffff;
    height: 190px;
    
}
.headback{
    background-image: url(../img/harappa.jpg);
    background-size:cover;
    position: relative;
    height: 100%;
}
.headback::before{
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}


.container{
    color: white;
    position: absolute;
    width: 820px;
    margin:0 80px;
    text-shadow: 0 0 20px rgb(0, 0, 0);
}


a.btn{
    width: 250px;
    color:midnightblue;
    text-align: center;
    text-decoration: none;
    display: table;
    border-collapse: separate;
    border-spacing: 10px 0;
    table-layout:fixed;
   width: 100%;
   font-size: 19px;
   text-shadow:0 0 4px rgba(0,0,0,0.8);
    margin:auto 3px;
    position: relative;
}
.btn::after {
    position: absolute;
    bottom: -13px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: midnightblue;
    transform: scale(0, 0);
    transform-origin: left top;
    transition: transform .4s;
  }
  .btn:hover::after {
    transform: scale(1, 1);
  }
/* a.btn.animated:hover{
    animation:pulse 1s;
    text-shadow: 0px 0px 20px black;
    
} */
.pad{
    padding-top:65px;
    border-bottom: 1px solid #eee;
    width: 60%;
    margin:auto 20%;
}
nav{
    padding-right: 34px;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    padding: 3px;
    background:  rgba(255, 255, 255, 0.7);
    z-index: 9999;
}
.menu{
    display: -webkit-flex;
    display: flex;
    list-style-type:none;
    margin:10px auto;
    padding:0;
}
.mainstr{
    background-color:white;
    box-shadow: 0 0 10px rgb(151, 151, 151);
    width:85%;
    margin: auto;
    text-align: center;
    padding-bottom: 100px;
}

footer{
    text-align: center;
    font-size:22px;
}

.lis li{
    display: inline-block;
    list-style-type:none;
    text-align:left;
    width: 25%;
    table-layout:fixed;
    padding:auto 30px;
    vertical-align: top;
}
.lis{
    padding: 0%;
    margin:10px 10px;
}
.img{
    box-shadow: 4px 4px 8px -2px rgb(15, 15, 15),
    5px 5px 12px rgba(255, 255, 255, 0.7) inset;
    margin:15px;
    cursor: pointer;
}
.lisimg li{
    display: inline-block;
}
.lisimg{
    padding:0;
    margin:20px;
}
.animated.img:hover{
    animation:pulse 0.5s;
}
@media handheld{
    .lisimg img{
        width: 192px;
        height: 108px;
    }
}




/*@media指定
 all	指定できるメディアのすべて
aural	音声出力
braille	点字ディスプレイなどの点字出力
embossed	点字プリンタ
handheld	携帯用機器
print	プリンタ（印刷用）
projection	プロジェクタ
screen	パソコン画面
tty	文字幅が固定された機器
tv	テレビ */